<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="gb2312">
    <meta name="viewport" content="width = device-width,initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$title}</title>
    <meta name="Keywords" content="{$keywords}" />
    <meta name="Description" content="{$description}" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="__PACK__/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__PACK__/css/css-reset.css">
    <link rel="stylesheet" href="__PACK__/css/pack.css">
    <link rel="stylesheet" type="text/css" href="/public/static/index/css/css.css" />
    <link rel="stylesheet" href="__PACK__/css/pack2.css">
    <link href="/public/static/index/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/static/index/js/jquery.js"></script>
    <script type="text/javascript" src="/public/static/index/js/jquery.smoothscroll.js"></script>
    <!-- <script src="__PACK__/js/swiper-3.3.1.jquery.min.js"></script> -->
</head>
<body>
    <!--顶部-->
    <header style="background:#f6f6f6;">
        <div class="top top2 clear">
            <div class="top-logo top-logo2">
                <a  target="_blank" href="#"><img src="__PACK__/images/logo.png" alt="杭州石特包装logo"></a>
            </div>
            <div class="top-right2">
                <a  target="_blank" onClick="SetMenu();"></a>
            </div>
            <div class="top-right">
                <div class="top-call clear">
                    <div class="top-weixin">
                        <!--7.11修改1-->
                        <div class="weixin-icon new-gz">
                            <span>微信关注</span> </div>
                        <div class="weixin-menu" style="display: none;">
                            <p>
                                <img alt="微信关注" src="__PACK__/images/20181514404755555s.jpg" /></p>
                        </div>
                    </div>
                    <span class="top-call-line">|</span>
                    <!--7.11修改2-->
                    <div class="top-weixin">
                        <div class="weixin-icon new-kf">
                            <span>在线客服</span> </div>
                        <div class="weixin-menu" style="display: none;">
                            <a  target="_blank" style="CURSOR: pointer" onClick="javascript:window.open('http://wpa.qq.com/msgrd?V=3&uin=286329829&Site=&Menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">客服1</a>
                            <a  target="_blank" style="CURSOR: pointer" onClick="javascript:window.open('http://wpa.qq.com/msgrd?V=3&uin=383931460&Site=&Menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">客服2</a> </div>
                    </div>
                    <!--7.11修改3-->
                    <div class="top-phone">
                        <span>0571-88685587</span>
                    </div>
                </div>
                <div class="top-nav">
                    <ul class="clear">
                        <li><a  target="_blank" href="/pack.html" >首页</a></li>
                        <li><a  target="_blank" href="/about.html" >关于石特</a></li>
                        <li><a  target="_blank" href="/pack/medical_products.html" >医药健康案例</a></li>
                        <li><a  target="_blank" href="/pack/agriculture.html" >更多包装案例</a></li>
                        <li><a  target="_blank" href="/pack/contact.html" >联系方式</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-nav2" style="display:none;" id="Mn">
            <ul class="clear">
                <li class="top-nav-on"><a  target="_blank" href="/pack.html" >首页</a></li>
                <li><a  target="_blank" href="/about.html" >关于石特</a></li>
                <li><a  target="_blank" href="/pack/medical_products.html" >医药健康案例</a></li>
                <li><a  target="_blank" href="/pack/agriculture.html" >更多包装案例</a></li>
                <li><a  target="_blank" href="/pack/contact.html" >联系方式</a></li>
            </ul>
        </div>
    </header>
    <div class='DrugTopv'></div>

