 {include file="public/header"}
<div class="yiyao3 ww clear">
    <div class="t1"><a href="/pack/medical_products.html">医药健康包装设计<br><span>Products Packing</span></a></div>
    <div class="t1 left"><a href="/pack/medical_propagand.html">医药健康品牌形象<br><span>Brand Image Desgin</span></a></div>
    <div class="t2"><a href="/pack/medical_propagand.html">医药健康宣传推广<br><span>Promotional Desgin</span></a></div>
</div>

<div class="DrugMainTxt DrugAboutTxt ww">
    <div class="t1">
        专注医药健康品牌策划设计
    </div>
    <div class="t2">
        石特包装为客户提供医药行业的整体品牌战略服务，专注于医药行业品牌形象创建及品牌形象整合提升。 多年来，累计服务超过百家医药健康、医疗品牌等企业深蕴品牌制胜之道；并聘请医药专家顾问内部审核，产品包装设计送审通过率高。 我们专注于医药包装行业、熟悉医药行业相关的规范要求，结合行业特性，注入了更新的设计创意理念，帮助客户塑造具有品牌价值的医药医疗企业。

    </div>
</div>
<div class="years ww">
    <ul class="clear">
        <li>
            <div class="t1">10+</div>
            <div class="t2">自2008年至今10年<br>专业、专注医药包装策划设计</div>
        </li>
        <li>
            <div class="t1">500+</div>
            <div class="t2">服务品牌设计案例超500个<br>经验丰富 团队强大</div>
        </li>
        <li>
            <div class="t1">1000+</div>
            <div class="t2">超过1000多个成功品牌设计案例<br>客户满意 长期合作</div>
        </li>
    </ul>
</div>
<div class="StService" style='background:none;'>
    <div class="ww">
        <div class="t2"><img src="__PACK__/images/drugabout.jpg"></div>
    </div>
</div>

<div class="OurClient">
    <div class="t1">OUR CLIENTS</div>
    <div class="t2"></div>
    <div class="t3">我们的客户</div>
    <div class="t4 clear">

        <script type="text/javascript" src="__PACK__/js/sjquery.js"></script>
        <script type="text/javascript" src="__PACK__/js/sjquery.SuperSlide2.js"></script>

        <div class="mr_frbox">
            <img class="mr_frBtnL prev" src="__PACK__/images/left.png" />
            <div class="mr_frUl">
                <ul>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/344932.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/5335264.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/12400271.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/12196120.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/12605857.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/13442972.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/14733847.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/25740938.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/25122419.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/3778488.JPG' /></a>
                    </li>

                </ul>
            </div>
            <img class="mr_frBtnR next" src="__PACK__/images/right.png" />
        </div>
        <div class="mr_frbox2">
            <div class="mr_frUl">
                <ul>
                    10
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/344932.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/5335264.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/12400271.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/12196120.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/12605857.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/13442972.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/14733847.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/25740938.JPG' /></a>
                    </li>
                    <li>
                        <a><img src='http://www.hzstad88.com/upfile/25122419.JPG' /></a>
                        <a><img src='http://www.hzstad88.com/upfile/3778488.JPG' /></a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(".mr_frbox").slide({
                titCell: "",
                mainCell: ".mr_frUl ul",

                autoPage: true,
                effect: "leftLoop",
                autoPlay: true,
                vis: 5
            });

            $(".mr_frbox2").slide({
                titCell: "",
                mainCell: ".mr_frUl ul",

                autoPage: true,
                effect: "leftLoop",
                autoPlay: true,
                vis: 2
            });
        </script>

    </div>
    <div class="t5"><a href="#">更多客户</a></div>
</div>
{include file="public/footer"}
