<!DOCTYPE html>
<html lang="cn">

<head>
	<meta charset="gb2312">
	<meta name="viewport" content="width = device-width,initial-scale=1">
	<title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
	<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/public/static/admin/style/bootstrap.css">
  	<link rel="stylesheet" href="__PPT__/css/reset.css" type="text/css">
	<link rel="stylesheet" href="__PPT__/css/ppt.css" type="text/css">  
	<link rel="stylesheet" type="text/css" href="/public/static/index/css/css.css" />
	 <script src="__PPT__/js/jQuery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PPT__/js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PPT__/js/jquery.transit.js" type="text/javascript" charset="utf-8"></script>
	 <!-- <script src="__PPT__/js/prefixfree.min.js" type="text/javascript" charset="utf-8"></script>  -->
	<script src="__PPT__/js/html5.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PPT__/js/bocfe.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PPT__/js/plug.preload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/static/admin/style/bootstrap.js" type="text/javascript" charset="utf-8"></script>  
	<!--[if IE 6]>
	<script src="__PPT__/js/IE6PNG.min.js?v=v1" type="text/javascript" charset="utf-8"></script>	<script type="text/javascript">
		IE6PNG.fix('.png');
	</script>
<![endif]-->

</head>
<body>
	<a href="#" class="logo">
		<img src="__PPT__/images/ppt_logo.png" alt="">
	</a>
	<header style="background:url(/public/static/ppt/images/bg_bg01.jpg) no-repeat top;">
		<nav class="fr">
			<ul>
				<li>
					<a  target="_blank"  href="/ppt.html" >
						<p class="t-f">首页</p>
						<p class="cn t-f">首页</p>
					</a> </li>
				<li>
					<a  target="_blank"  href="/ppt/case.html">
						<p class="t-f">经典案例</p>
						<p class="cn t-f">经典案例</p>
					</a> </li>
				<li>
					<a  target="_blank"  href="/" target=_blank>
						<p class="t-f">石特广告</p>
						<p class="cn t-f">石特广告</p>
					</a> </li>
				<li>
					<a  target="_blank"  href="/ppt/contact.html">
						<p class="t-f">联系我们</p>
						<p class="cn t-f">联系我们</p>
					</a> </li>
			</ul>
		</nav>
		<div class="MobileMenuBtn" onClick="javascript:SetMenu();"></div>
	</header>
	<div class="clear"></div>
	<nav class="MobileMenu" id="Mn" style="display:none;">
		<ul>
			<li>
				<a href="/ppt.html">首页</a> </li>
			<li>
				<a href="/ppt/case.html">经典案例</a> </li>
			<li>
				<a href="/" target=_blank>石特广告</a> </li>
			<li>
				<a href="/ppt/contact.html">联系方式</a> </li>
		</ul>
	</nav>
	<div class="i-intro por ovh">
		<div class="canvas poa dn"></div>
		<div id="container" style="position:absolute;top:0px;height:650px;padding-top:120px;"></div>
		<div class="tips por">
			<p class="en show-up">时间留给演讲 · PPT交给动响</p>
			<p class="show-up">专注说服力PPT，为每一次良机创造成效
			</p>
			<div class="btn por show-up">
				<a target=blank href=http://wpa.qq.com/msgrd?V=3&uin=1053153377&Site=QQ客服&Menu=yes
					class="t-f cur">获取免费模板</a>
				<a href="/ppt/case.html" target=_blank class="t-f more">了解更多</a>
			</div>
		</div>
		<img src="__PPT__/images/57668154.png" alt="" class="show-up">
	</div>