{include file="public/header"}
<div class="i-wrap">
	<div class="i-about">
		<div class="i-tips">
			<h2 class="fwn">动响演绎</h2>
			<p>我们是一家专注于演示策划、设计的专业机构，为客户在品牌形象、市场营销、产品发布/推广、商业计划、项目路演、会议汇报、项目申报、培训教学等提供定制化演示综合解决方案。</p>
		</div>
		<div class="list f-cb">
			<ul>
				<li class="h">
					<a target="_blank">
						<div class="sign por">
							<div class="circle t-f"></div>
						</div>
					</a>
					<div class="clear"></div>
					<a target="_blank" class="tit t-c">我们是谁</a>
					<p>
						我们是一家创新性设计机构，十余年深耕设计领域，服务500多家企事业单位，1000多次服务经验。
					</p>
				</li>
				<li class="h">
					<a target="_blank">
						<div class="sign por">
							<div class="circle t-f"></div>
							<div class="in poa">
								<div class="fire poa"></div>
							</div>
						</div>
					</a>
					<div class="clear"></div>
					<a target="_blank" class="tit t-c">动响演绎</a>
					<p>
						石特广告旗下，演示综合解决方案服务品牌，为客户提供有说服力的演示设计定制服务。
					</p>
				</li>
				<li class="h">
					<a target="_blank">
						<div class="sign por">
							<div class="circle t-f"></div>
						</div>
					</a>
					<div class="clear"></div>
					<a target="_blank" class="tit t-c">演示综合解决方案</a>
					<p>
						新型演示综合解决方案服务提供商，提供PPT策划与设计、信息图表设计、动画设计、视频拍摄等服务。
					</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="i-cases">
		<div class="i-tips">
			<h2 class="fwn">我们做了什么</h2>
			<p>动响演绎为客户的每一次良机定制演示设计（包含：品牌形象、营销推广、商务竞标、商业技术、项目申报、项目评比等），创造了显著成效。<br />查看更多案例请联系QQ客服</p>
		</div>
		<div class="hold">
			<div class="list f-cb por ovh">
				<div class="move f-cb">
					<ul>
						{volist name="cases" id="case"}
						<li class='por ovh h'><a target="_blank" href='/ppt/case/{$case.id}.html'>
							<img src='{$case.cover_image}'/>
							<span class='tips f-cb'>
								<p class='fl'>{$case.title}</p>
								<span class='sign h fr por'><span class='in poa t-bg'></span></span>
							</span></a>
						</li>
						{/volist}
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<div class="btn tac"></div>
			<div class="MoreCase"><a target="_blank" href="/ppt/case.html">更多精彩案例 >></a></div>
		</div>
	</div>

	<div class="i-solutions">
		<div class="i-tips white">
			<h2 class="fwn">演示综合解决方案</h2>
			<p>新型演示综合解决方案服务提供商，提供PPT策划与设计、信息图表设计、动画设计、视频拍摄等服务。</p>
		</div>

		<div class="numbers f-cb por ovh">
			<div class="bg fi poa"></div>
			<div class="bg se poa"></div>
			<div class="bg th poa"></div>
			<div class="bg btns poa">
				<div class="btn fi poa f-cb h">
					<p class="fl">品牌形象</p>
					<span class="fr"></span>
				</div>
				<div class="btn se poa f-cb h">
					<p class="fl">商业计划</p>
					<span class="fr"></span>
				</div>
				<div class="btn th poa f-cb h">
					<span class="fl"></span>
					<p class="fr">产品发布/推广</p>
				</div>
				<div class="btn fo poa f-cb h">
					<span class="fl"></span>
					<p class="fr">商务竞标</p>
				</div>
				<div class="btn sev poa f-cb h">
					<span class="fl"></span>
					<p class="fr">会议汇报</p>
				</div>
				<div class="btn fif poa f-cb h">
					<span class="fl"></span>
					<p class="fr">项目申报</p>
				</div>
				<div class="btn si poa f-cb h">
					<span class="fl"></span>
					<p class="fr">培训教学</p>
				</div>
			</div>
		</div>
	</div>
	<div class="i-process">
		<div class="i-tips">
			<h2 class="fwn">服务流程</h2>
			<p>演说是艺术与科技的融合，我们从一个简单的观点开始，为您的舞台呈现完美的演示。</p>
		</div>
		<div class="hold por">
			<div class="listss">
				<ul class="c">
					<li>① 演示咨询</li>
					<li>② 合同签订</li>
					<li>③ 内容理解</li>
					<li>④ 框架搭建</li>
					<li>⑤ 信息提炼</li>
					<li>⑥ 视觉设计</li>
					<li>⑦ 预演准备</li>
					<li>⑧ 文稿校对</li>
				</ul>
			</div>
			<div class="list">
				<div class="btn h poa t-c">
					<p>演示咨询</p>
					<div class="light por"></div>
					<div class="circle por t-f fl"></div>
				</div>
				<div class="btn h poa t-c">
					<div class="circle por t-f fl"></div>
					<div class="light por"></div>
					<p>合同签订</p>
				</div>
				<div class="btn h poa t-c">
					<p>内容理解</p>
					<div class="light por"></div>
					<div class="circle por t-f fl"></div>
				</div>
				<div class="btn h poa t-c">
					<div class="circle por t-f fl"></div>
					<div class="light por"></div>
					<p>框架搭建</p>
				</div>
				<div class="btn h poa t-c">
					<p>信息提炼</p>
					<div class="light por"></div>
					<div class="circle por t-f fl"></div>
				</div>
				<div class="btn h poa t-c">
					<div class="circle por t-f fl"></div>
					<div class="light por"></div>
					<p>视觉设计</p>
				</div>
				<div class="btn h poa t-c">
					<p>预演准备</p>
					<div class="light por"></div>
					<div class="circle por t-f fl"></div>
				</div>
				<div class="btn h poa t-c">
					<div class="circle por t-f fl"></div>
					<div class="light por"></div>
					<p>文稿校对</p>
				</div>
			</div>
		</div>
	</div>
	<div class="i-parnter">
		<div class="i-tips" style="height:auto">
			<h2 class="fwn">客户服务</h2>
			<h3 class="fwn">他们选择动响演示</h3>
			<p>我们大部分业务来自长期合作的客户，我们为国家电网、中国电建、浙江大学、浙江理工大学等提供服务，取得了斐然的成绩。</p>
		</div>
		<img src="__PPT__/images/imglogo.jpg " alt="" style="display:block;margin:60px auto 0; max-width:100%;">
	</div>
</div>
<div align="center">
	<div class="r-float">
		<ul>
			<li class="short-one" style="width: 100px;"><a target="_blank" target=blank
					href=http://wpa.qq.com/msgrd?V=3&uin=1053153377&Site=QQ客服&Menu=yes class="short">QQ客服</a></li>
			<!--
		<li class="short-two"><a target="_blank" target=blank href=http://wpa.qq.com/msgrd?V=3&uin=136391636&Site=QQ客服&Menu=yes class="float-two">售后服务</a></li>
-->
			<li class="long-one">
				<p>咨询热线</p>
				<div class="tel">
					<a target="_blank" href='tel:15355058812'>15355058812</a>
				</div>
			</li>
		</ul>
	</div>
	{include file="public/footer"}