<!DOCTYPE html>
<html>

<head>
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/cssf868.css" />
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/css.css?9999" />
    <link href="__INDEX__/css/flexslider.css" rel="stylesheet" />
    <link href="__INDEX__/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script type="text/javascript" src="__INDEX__/js/jquery.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.smoothscroll.js"></script>
    <script type="text/javascript" src="__INDEX__/js/main.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.flexslider-min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="topbox">
                <div class="mainbox">
                    <div class="logo">
                        <a target="_blank" href="/">
                            <img src="__INDEX__/images/logo.png" alt="杭州石特包装设计">
                        </a>
                    </div>
                    <div class="topcon">
                        <div class="tnav">
                            <a target="_blank" href="/" {if condition="$nav_index eq 1"}class="hover" {/if}>首页 
                            </a>
                            <i>-</i>
                            <a target="_blank" href="/about.html" {if condition="$nav_index eq 2" }class="hover"
                                {/if}>关于我们 
                            </a>
                            <i>-</i>
                            <a target="_blank" href="/publicity_materials.html" {if condition="$nav_index eq 3"}class="hover" {/if}>案例成果 
                            </a>
                            <i>-</i>
                            <a target="_blank" href="/news.html" {if condition="$nav_index eq 4"}class="hover" {/if}>观点分享 
                            </a>
                            <i>-</i>
                            <a target="_blank" href="/contact.html" {if condition="$nav_index eq 5"}class="hover" {/if}>联系石特 
                            </a>
                        </div> 
                    </div> 
                    <div class="tnav_min">
                        <span class="tnav_min_btn">菜单</span>
                    </div>
                        <div class="tnav_min_con">
                            <ul>
                                <li><a target="_blank" href="/" class="hover">首页</a>
                                </li>
                                <li><a target="_blank" href="/about.html">关于我们</a>
                                </li>
                                <li><a target="_blank" href="/publicity_materials.html">案例成果</a>
                                </li>
                                <li><a target="_blank" href="/news.html">观点分享</a>
                                </li>
                                <li><a target="_blank" href="/contact.html">联系石特</a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>