{include file="public/header"}
<div class="about-wrap">
    <div class="ins-tab about-tab tac">
        <a class="t-f cur" href="page.asp?t1=144&amp;t2=222">&nbsp;联系我们</a>
    </div>
    <div class="about-detail">
        <div class="TxtShow" style="padding-top:0;">
            <p style="text-align: center;">
                <!-- <font color="#808080">地址：杭州市西湖区文一西路172号湖畔大厦B座4楼</font><br>
                <font color="#808080">手 机：</font><span style="color: rgb(128, 128, 128);">15355058812</span><span
                    style="color: rgb(128, 128, 128);">、</span><span style="color: rgb(128, 128, 128);">15355437883<br>
                </span><span style="color: rgb(128, 128, 128);">咨询电话：0571-88685587<br>
                </span><span style="color: rgb(128, 128, 128);">QQ咨询：</span>
                <font color="#808080">1053153377 &nbsp; 网址：www.doint.net<br>
                </font><span style="color: rgb(128, 128, 128);">邮 箱：</span>
                <font color="#808080">hzstad@126.com</font> -->
                {$content}
            </p>
            <p>
                &nbsp;</p>
            <p>
                &nbsp;</p>
            <div style="width:100%; height:450px; margin:0 auto; border:1px solid #ddd;">
                <iframe src="/map.html" style="border:0px; width:100%; height:450px;"></iframe></div>
        </div>
    </div>
</div>
<div class="r-float">
    <ul>
        <li class="short-one" style="width: 100px;"><a target=blank href=http://wpa.qq.com/msgrd?V=3&uin=1053153377&Site=QQ客服&Menu=yes class="short">QQ客服</a></li>
        <li class="long-one">
            <p>咨询热线</p>
            <div class="tel">
                <a href='tel:15355058812'>15355058812</a>
            </div>
        </li>
    </ul>
</div>
{include file="public/footer"}