{include file="public/header"}
<div id="mainer999">
    <div class="contact_title">
        CONTACt US
    </div>
    <div class="contact_right">
        <div class="contact_text">
            {$content}
            <br>
            <br>
        </div>
        <div class="baidu_map">
            <iframe src="/map.html" class="baidu_map"></iframe>
        </div>
    </div>
</div>
<div class="index-case">
    <div class="index-case-content">
        <ul class="clear">
            <li class='icc-listv'>
                <div class='t1'><img src='__PACK__/images/contact_1.jpg'></div>
            </li>
            <li class='icc-listv'>
                <div class='t1'><img src='__PACK__/images/contact_2.jpg'></div>
            </li>
            <li class='icc-listv'>
                <div class='t1'><img src='__PACK__/images/contact_3.jpg'></div>
            </li>
        </ul>
        <div class="icasef">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=286329829&amp;site=qq&amp;menu=yes" target="_blank" class="btn1"><img src="/public/static/index/images/index/iqq.png" alt="立即咨询">立即咨询</a>
            <a target="_blank" href="/pack/medical_products.html" class="btn2"><img src="/public/static/index/images/index/imore.png" alt="查看更多案例">查看更多案例</a>
        </div>
    </div>
</div>
{include file="public/footer"}